.studentcontainer {
  margin-left: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
}

.bold {
  font-size: large;
}
.studentcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
  gap: 10px;
}
.studentcard {
  margin-top: 1em;
  box-shadow: -1px 1px 10px 0.6px rgb(150, 146, 146, 0.3);
  padding: 1em;
}
.profile {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.studentflag {
  width: 1.1em;
  height: 1.1em;
}
.studentbody {
  display: flex;
  gap: 15px;
}
.studentdetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
